<div id="footer">
		<div id="footerPan">
			<div id="footerlogoPan">
				<a href="">
				<img src="../images/footerlogo.gif" title="Blog Division" alt="Blog Division" width="189" height="87" border="0" /></a>
			</div>
			<ul>
				<li><a href="../index.php">Home</a>| </li>
				<li><a href="#">About Us</a> | </li>
				<li><a href="#">Company</a>| </li>
				<li><a href="#">Solutions</a> | </li>
				<li><a href="#">Partners</a> |</li>
				<li><a href="#">Client</a> |</li>
				<li><a href="#">Contact</a> </li>
			</ul>
			<p class="copyright">9blog division. All rights reserved.</p>
		</div>
</div>
<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>

  <!-- Define the div tag where the gadget will be inserted. -->
<div id="div-4099093513585266591"></div>
<!-- Render the gadget into a div. -->
<script type="text/javascript">
var skin = {};
skin['BORDER_COLOR'] = '#cccccc';
skin['ENDCAP_BG_COLOR'] = '#e0ecff';
skin['ENDCAP_TEXT_COLOR'] = '#333333';
skin['ENDCAP_LINK_COLOR'] = '#0000cc';
skin['ALTERNATE_BG_COLOR'] = '#ffffff';
skin['CONTENT_BG_COLOR'] = '#ffffff';
skin['CONTENT_LINK_COLOR'] = '#0000cc';
skin['CONTENT_TEXT_COLOR'] = '#333333';
skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
skin['CONTENT_HEADLINE_COLOR'] = '#333333';
skin['POSITION'] = 'bottom';
skin['DEFAULT_COMMENT_TEXT'] = '- \u5728\u6b64\u5904\u6dfb\u52a0\u8bc4\u8bba -';
skin['HEADER_TEXT'] = '\u8bc4\u8bba';
google.friendconnect.container.setParentUrl('/eclipse-php/miniblog/src/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.renderSocialBar(
 { id: 'div-4099093513585266591',
   site: '17106039852854048006',
   'view-params':{"scope":"SITE","features":"video,comment","showWall":"true"}
 },
  skin);
</script>
